{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/squid/access.log",
            "log_group_name": "squid_proxy",
            "log_stream_name": "access",
            "timezone": "UTC"
          },
          {
            "file_path": "/var/log/squid/cache.log",
            "log_group_name": "squid_proxy",
            "log_stream_name": "cache",
            "timezone": "UTC"
          }
        ]
      }
    },
    "log_stream_name": "logs"
  }
}

